<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-size: cover;background-repeat:no-repeat; background-image: url('https://iloveecommerce.com.br/wp-content/uploads/2022/09/1664506924_496_13-Melhores-exemplos-de-design-de-pagina-de-erro-wordpress.jpg');">
    
</body>
</html>