<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/cabecalho.ejs") %>
</head>
<body>
    <div class="jumbotron text-center">
        <a href="http://localhost:9999/clientes">Listar clientes</a><br>
        <a href="http://localhost:9999/clientes/cadastro">Cadastrar clientes</a>
    </div>
    
</body>

<footer>
    <%- include("partials/rodape.ejs")%>
</footer>

</html>
